streamlit
langchain
langchain-core
langchain-community
python-dotenv
genai
chromaDB
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
toml
langchain-google-genai 
