streamlit==24.2

# LangChain and related components
langchain
langchain_community
langchain-google-genai
langchain-core

# Google Generative AI
google-generativeai
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
google-api-python-client

# Google API core library
google-api-core

# Google Generative AI Embeddings and dependencies
google-cloud
google-cloud-aiplatform

# Protobuf package for compatibility
protobuf==3.20

# ONNX runtime for AI model execution
onnxruntime

# Grpc and related libraries
chromaDB
docx2txt
